{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Cripythongraphy</title>
        <link rel='stylesheet' href='{% static "criptografias/style.css" %}'>
        <script src='{% static "criptografias/utilidades_cifras.js" %}'></script>
        <script src='{% static "criptografias/cifra_de_cesar.js" %}'></script>
        <script src='{% static "criptografias/subst_simples.js" %}'></script>
        <script src='{% static "criptografias/cifra_de_vigenere.js" %}'></script>
        <script src='{% static "criptografias/forca_bruta_cesar.js" %}'></script>
        <script src='{% static "criptografias/adivinhador_cesar.js" %}'></script>
        <script src='{% static "criptografias/conteudo_pagina.js" %}'></script>
        <script src='{% static "criptografias/login_register.js" %}'></script>
        <script src='{% static "criptografias/exec_menus.js" %}'></script>
        <script src='{% static "criptografias/menus.js" %}'></script>
        <script src='{% static "criptografias/nav_bar.js" %}'></script>
    </head>
    <body style="margin: 0;">
        {% if user.is_authenticated %}
            <h id='user-status' hidden>logado</h>
        {% else %}
            <h id='user-status' hidden>nao logado</h>
        {% endif %}
        <div class='barra-navegacao'>
            <div class='container-botoes-nav'>
            </div>
            <a id='botao-home'>
                <img src='static/LogoPlaceHolder.png' id='imagem-logo'>
            </a>
        </div>
        <div class='conteudo-pagina'>
            <div class='container-cifras'>
                <div style='padding: 10px 20px 20px 20px;'>
                    <div class='container-input-cifra'>
                        <span class='texto-cifra' style='line-height: 35px;'>usuário</span>
                        <div style='width: 87%; float: right;'>
                            <input type='text' class='input-cifra'>
                        </div>
                    </div>
                    <div class='container-input-cifra'>
                        <span class='texto-cifra' style='line-height: 35px;'>e-mail</span>
                        <div style='width: 87%; float: right;'>
                            <input type='text' class='input-cifra'>
                        </div>
                    </div>
                </div>
                <span class='titulo-chaves-padroes'>Chaves padrões</span>
                <div class='barra-chaves-padroes' style='margin-top: 10px;'>
                    <span class='texto-barra-chaves-padroes'>Cifra de César</span>
                </div>
                <div style='padding: 0px 20px 40px 20px;'>
                    <div class='container-input-cifra'>
                        <span class='texto-cifra'>apenas letras</span>
                        <input type='text' class='input-cifra'>
                    </div>
                    <div class='container-input-cifra'>
                        <span class='texto-cifra'>vários caracteres</span>
                        <input type='text' class='input-cifra'>
                    </div>
                </div>
                <div class='barra-chaves-padroes'>
                    <span class='texto-barra-chaves-padroes'>Substituição simples</span>
                </div>
                <div style='padding: 0px 20px 40px 20px;'>
                    <p class='texto-subst-simples-perfil'>apenas letras</p>
                    <div class='container-input-cifra'>
                        <span class='texto-cifra'>letras mensagem comum</span>
                        <input type='text' class='input-cifra'>
                    </div>
                    <div class='container-input-cifra'>
                        <span class='texto-cifra'>letras mensagem encriptada</span>
                        <input type='text' class='input-cifra'>
                    </div>
                    <p class='texto-subst-simples-perfil'>vários caracteres</p>
                    <div class='container-input-cifra'>
                        <span class='texto-cifra'>letras mensagem comum</span>
                        <input type='text' class='input-cifra'>
                    </div>
                    <div class='container-input-cifra'>
                        <span class='texto-cifra'>letras mensagem encriptada</span>
                        <input type='text' class='input-cifra'>
                    </div>
                </div>
                <div class='barra-chaves-padroes'>
                    <span class='texto-barra-chaves-padroes'>Cifra de Vigenère</span>
                </div>
                <div style='padding: 0px 20px 40px 20px;'>
                    <div class='container-input-cifra'>
                        <span class='texto-cifra'>apenas letras</span>
                        <input type='text' class='input-cifra'>
                    </div>
                    <div class='container-input-cifra'>
                        <span class='texto-cifra'>vários caracteres</span>
                        <input type='text' class='input-cifra'>
                    </div>
                </div>
            </div>
            <div id='textos-pagina' style='margin-left: 20px;'>
            </div>
        </div>
</html>