{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Cripythongraphy</title>
        <link rel='stylesheet' href='{% static "criptografias/style.css" %}'>
        <script src='{% static "criptografias/utilidades_cifras.js" %}'></script>
        <script src='{% static "criptografias/cifra_de_cesar.js" %}'></script>
        <script src='{% static "criptografias/subst_simples.js" %}'></script>
        <script src='{% static "criptografias/cifra_de_vigenere.js" %}'></script>
        <script src='{% static "criptografias/forca_bruta_cesar.js" %}'></script>
        <script src='{% static "criptografias/adivinhador_cesar.js" %}'></script>
        <script src='{% static "criptografias/conteudo_pagina.js" %}'></script>
        <script src='{% static "criptografias/popups.js" %}'></script>
        <script src='{% static "criptografias/login_register.js" %}'></script>
        <script src='{% static "criptografias/nav_bar.js" %}'></script>
        <script src='{% static "criptografias/menus.js" %}'></script>
    </head>
    <body style="margin: 0;">
        <div class='barra-navegacao'>
            <div class='container-botoes-nav'>
                {% if user.is_authenticated %}
                    <a class='link-barra-navegacao' id='botao-usuario'>{{ user.username }}</a>
                {% else %}
                    <a class='link-barra-navegacao' id='botao-login'>login</a>
                {% endif %}
                <a class='link-barra-navegacao' id='botao-home'>home</a>
                <div style='width: 150px; float: right'>
                    <a class='link-barra-navegacao' id='botao-utilitarios'>utilitários</a>
                    <div class='triangulo' style='margin-top: 48px; margin-left: 60px;' id='triang-utilitarios'></div>
                </div>
                <div style='width: 100px; float: right;'>
                    <a class='link-barra-navegacao' id='botao-cifras'>cifras</a>
                    <div class='triangulo' style='margin-top: 48px; margin-left: 34px;' id='triang-cifras'></div>
                </div>
            </div>
        </div>
        <div class='conteudo-pagina'>
            <div class="sub-barra-navegacao">
                <div class="container-sub-barra-nav">
                    <div class="text-container-sub-barra-nav">
                    </div>
                </div>
            </div>
            <div id='container-popup'>
                <h class='texto-popup'></h>
                <a class='botao-fechar-popup'></a>
            </div>
            <div class='container-cifras'>
                <div class='box-titulo'>
                    <h class='titulo-cifra'>Cifra de César</h>
                    <h class='titulo-cifra' style='margin-left: 70px;'>|</h>
                    <h class='texto-radio-titulo' style='margin-left: 120px;'>encriptação</h>
                    <input type='radio' name='modo' id='encript' class='radio-cifra' checked>
                    <h for='traduc' class='texto-radio-titulo' style='margin-left: 40px;'>tradução</h>
                    <input type='radio' name='modo' id='traduc' class='radio-cifra'>
                </div>
                <div class='container-input-cifra'>
                    <h class='texto-cifra'>chave</h>
                    <input type='text' class='input-cifra'>
                </div>
                <div class='container-input-cifra'>
                    <h class="texto-cifra">apenas letras</h>
                    <input type='radio' class='radio-cifra' name='opcoes' id='apenas-letras' checked>
                    <h class='texto-cifra' style='margin-left:50px;'>vários caracteres</h>
                    <input type='radio' class='radio-cifra' name='opcoes' id='varios-caracteres'>
                </div>
                <div class='container-input-cifra'>
                    <h class='texto-cifra' >mensagem</h>
                    <textarea class='textarea_cifra'></textarea>
                    <input type='button' value='executar' id='executar'>
                </div>
                <div class='container-input-cifra'>
                    <h class='texto-cifra'>resultado</h>
                    <textarea class='textarea_cifra' style='border-radius: 10px; height: 450px;' readonly></textarea>
                </div>
            </div>
            <div id='textos-pagina'>
            </div>
        </div>
</html>