@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');

.barra-navegacao {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    background-color: rgb(64, 112, 111);
}

.link-barra-navegacao {
    color: white;
    text-decoration: 'none';
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    font-size: 27px;
}

.conteudo-pagina {
    margin-top: 100px;
}

.triangulo {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 22px solid rgb(182, 180, 173);
    display: none;
}

@keyframes descendo {
    from {
        height: 0px;
    }
    to {
        height: 460px;
    }
}
.sub-barra-navegacao {
    position: fixed;
    right: 2%;
    background-color: rgb(182, 180, 173);
    display: none;
}

.container-sub-barra-nav {
    margin: 20px;
    width: 560px;
    background-color: snow;
    border-radius: 20px;
    animation-duration: 0.5s;
    animation-name: descendo;
    animation-fill-mode: forwards;
}

.container-botoes-nav {
    float: right;
    margin-top:30px;
    margin-right: 50px;
}

.text-container-sub-barra-nav {
    width: 500px;
    height: 420px;
    padding: 10px;
}